@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); 

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

img{
    object-fit: cover;
}

body{
    background-color: #1e1e1e;
}

nav{
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    height: 80px;
}

nav a.logo{
    font-size: 33px;
    color: #fff;
    font-weight: 300;
}

nav .login button{
    padding: 8px 14px;
    border: none;
    margin-right: 14px;
    cursor: pointer;
    background-color: transparent;
}

nav .login button.Buy{
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    margin-right: 14px;
}

@media (max-width: 768px){

header{
    display: flex;
    flex-direction: column-reverse;
    padding: 40 20px;
    margin-top:  100px;
    height: auto;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between ; */
}

header .left{
    width: 100%;
}

}

header img{
    width: 300px;
    margin-top: 20px;
}

header{
    display: flex;
    padding: 0 40px;
    margin-top: 40px;
    height: auto;
    align-items: center;
    justify-content: space-between ;
}

header .left{
    width: 100%;
}

header .left h1{
    margin: 10px 0;
    font-size: 60px;
    color: #fff;
}

header .left p{
    margin: 10px 0;
    color: #777;
}

header .left a{
    display: flex;
    align-items: center;
    background-color: #777;
    width: 220px;
    padding: 6px;
    border-radius: 60px;
}

header .left a i{
    color: #000;
    background-color: #fff;
    font-size: 24px;
    border-radius: 50%;
    padding: 6px;
}

header .left a span{
    margin-left: 10px;
}

header .left a span p{
    color: #fff;
    font-size: 10px;
    margin-left: 5px;
}

.separator{
    display: flex;
    font-weight: 100;
    color: #cccccc;
    width: 300px;
    padding: 8px;
    margin:20px;
}


.image{
    display: flex;
    gap:15px;
    padding: 20px;
}

.image img{
    margin: 0 auto;
    width: 30%;
    height:auto;
    align-items: center;
    border-radius: 20px;
}

@media (max-width: 768px){
.image{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding: 20px;
}

.image img{
    display: block;
    margin: 0 auto;
    width: 90%;
    height:auto;
    align-items: center;
    border-radius: 20px;
}
}

footer{
    margin-top: 60px;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #333;
    color: #777;
    font-size: 14px;
}

